/ #header
/   %nav#header
/     %ul.content
/       .header-left
/         %li
/           = link_to "おふくろ", top_path
/       .header-right
/         %li
/           = link_to "新規登録", usersignup_path
/         %li
/           = link_to "ログイン", login_path
/         .clear

/ #main
/   .title
/     新規ユーザー登録
/   .form-box
/     .form-group
/       %input#exampleInputFamilyname.form-control{:placeholder => "姓", :type => "familyname"}
/     .form-group
/       %input#exampleInputLastname.form-control{:placeholder => "名", :type => "firstname"}
/     .form-group
/       %input#exampleInputMailaddress.form-control{:placeholder => "メールアドレス", :type => "mailaddress"}
/     .form-group
/       %input#exampleInputBig-address.form-control{:placeholder => "都道府県/市町村(例:東京都新宿区)", :type => "big-address"}
/     .form-group
/       %input#exampleInputSmall-address.form-control{:placeholder => "番地/マンション名/部屋番号(例:早稲田1-1-1 ○○101)", :type => "small-address"}  
/     .form-group
/       %input#exampleInputPassword.form-control{:placeholder => "パスワード", :type => "password"}
/     .form-group
/       %input#exampleInputPassword1.form-control{:placeholder => "パスワードの確認", :type => "password1"}
/     .form-group
/       %textarea#exampleInputIntoroduction.form-control{:placeholder => "自己紹介（あなたの魅力を紹介しよう!）", :type => "introduction"}  
/     .button-group
/       %button.btn.btn-default{:type => "cancel"} キャンセル      
/       = link_to index_path, class: "btn btn-signup" do
/         新規登録する
/     %hr
/     .footer-title
/       すでに登録済みの方
/       = link_to "ログインする", login_path