#header
  %nav#header
    %ul.content
      .header-left
        %li
          = link_to "おふくろ", top_path
      .header-right
        %li
          = link_to "新規登録", usersignup_path
        %li
          = link_to "ログイン", login_path
        .clear

#main
  .main-top
    .white-back
      %h1 郷土料理を通じて交流しよう
      %br
      %p 〜郷土料理を振舞いたい人と、その土地の郷土料理を食べながら
      %p その土地の人と触れ合いたい人を結ぶサービス〜
  .main-contents
    .button-group
      %a.btn-cook{:href => "profile.html"}
        郷土料理を
        %b 作りたい
      %a.btn-eat{:href => "usersignup.html"}
        郷土料理を
        %b 食べたい