.main-top
  text-align: center
  background-image: url("/assets/top.jpg") 
  background-size: cover
  background-position: center
  width: 100%
  height: 550px

  h1
    position: relative
    font-size: 100px
    color: white
    opacity: 1
    margin: 0
    padding-top: 300px

  h2 
    position: relative  
    font-size: 50px
    color: white
    opacity: 1
    margin: 0

.white-back
  background-color: rgba(0,0,0,0.2)
  width: 100%
  height: 100%

.main-contents
  width: 100%
  height: 600px
  position: relative
  margin: 0 auto
  padding-top: 50px
  padding-bottom: 25px
  background-color: whitesmoke

.btn-cook
  display: block
  width: 80%
  height: 150px
  margin: 0 auto
  padding-top: 20px
  background-color: red
  margin-left: 145px
  color: white
  text-align: center
  font-size: 70px
  border: 1px solid #e3e3e3
  text-decoration: none  
  border-radius: 10px

  &:visited
    color: white
    text-decoration: none


.btn-eat
  display: block
  width: 80%
  height: 150px
  margin: 0 auto
  padding-top: 20px
  background-color: blue
  margin-left: 145px
  color: white
  text-align: center
  font-size: 70px
  border: 1px solid #e3e3e3
  text-decoration: none
  margin-top: 50px
  border-radius: 10px

  &:visited
    color: white
    text-decoration: none






